@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,700italic,400italic);

@media print {
  .noPrint {
    display: none !important;
    height: 0;
  }
  @page {
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 0mm;
  }

  body {
    margin: 0px
  }
}

table {
  width: 100%;
  page-break-after: always;
}
table tr td {
  height: 33.8mm;
  width:33.33%;
  overflow: hidden;
  vertical-align: top;
}
table tr td span.sticker{
  display: inline-block;
  padding: 2mm;
  height: 100%;
  /*border-bottom: 1px solid white;*/
}

.sticker {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.name {
  font-style: italic;
  font-weight: 600;
}

.street {
  display: block;
  margin-top:2mm;
}

.country {
  font-weight: bold;
}

.name:after, .street:after, .city:after {
  content:"\a";
  white-space: pre;
}

.postalcode:after{
  content:" ";
  white-space: pre;
}
